.App {
  height: 100vh;
  // background-color: cornflowerblue;

  .title {
    color: green;
    text-align: center;
  }

  .main-container {
    display: flex;

    height: 80vh;
    width: 100%;

    .garden {
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-items: center;
      align-items: center;
      height: 40vh;
      width: 100vw;
    }

    .areas {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 20%;
      margin-left: 2%;
      border-right: solid 2px black;
    }

    .bed-management {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: 100%;
      width: 100%;

      h1 {
        justify-self: center;
        align-self: center;
      }
    }
  }
}
